.search-wrapper {
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: -1px;
  z-index: 1000;
  height: 80px;
  padding-bottom: 16px;
}
.search-content {
  width: calc(100vw - 32px);
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #eee;
  border-radius: 4px;
  justify-content: space-between;
}

.search {
  margin: 0 16px;
  margin-top: 4px;
}
.text {
  font-size: 28px;
  color: #b2b2b2;
  margin-left: 6px;
}
.btn {
  margin-right: 16px;
  padding: 4px 12px;
  background-color: #0ff;
  color: #fff;
  border-radius: 10px;
}
.btn-text {
  font-size: 30px;
}

.test-h {
  margin-top: 0px;
}
.demo-text-1, .demo-text-2, .demo-text-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: calc(100vw - 32px);
  height: 350px;
}

.grid {
  margin-top: 16px;
  padding: 0 16px;
  font-size: 16px !important;
}

.notice {
  background-color: #fff;
  margin: 16px;
}

.line {
  height: 20px;
  width: 100%;
  background-color: #eee;
}

.custom {
  background-color: #fff;
}
.box {
  position: sticky;
  z-index: 2000;
  top: 90px;
  background-color: #fff;
}
.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 64px;
}
.select-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-text {
  font-size: 32px;
  color: #333;
}
.btn-wrapper {
  display: flex;
  padding: 0 32px;
  padding-bottom: 32px;
}

.btn-icon {
  padding: 8px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-left {
  margin-left: 16px;
}
.btn-text {
  font-size: 24px;
  color: #222;
}

.zf-item {
  display: flex;
  width: 100%;
  padding: 32px;
  border-top: 1px solid #eee;
}
.zf-item:last-child {
  margin-bottom: 100px;
}
.imgs {
  width: 250px;
  height: 250px;
  border-radius: 30px;
}

.right {
  flex: 1;
  margin-left: 32px;
}

.title-text {
  font-size: 38px;
  font-weight: 100;
}
.title-view {
  margin-bottom: 10px;
}

.sx {
  display: flex;
  flex-direction: column;
}
.sx-dt , .sx-xx {
  font-size: 28px;
  color: #666;
  margin: 6px 0;
}
.bq {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.bq .btn-icon {
  margin-right: 4px;
  margin-bottom: 10px;
  background-color: goldenrod;
  border: none;
}

.bq .btn-text {
  color: #fff;
  font-size: 24px;
}
.money {
  margin-top: 10px;
}

.color {
  color: #f00;
  font-weight: 900;
}

.empty {
  background-color: #fff;
  height: 120px;
}
